.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__column-A {
  margin-bottom: 18px;
  color: rgb(0, 0, 0, 0.6);
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 15px;
}
.user-component__title {
  font-size: 20px;
  font-weight: 600;
}
.user-component__subtitle {
  margin-top: 8px;
  color: rgb(0, 0, 0, 0.6);
}
.user-component__subtitle i {
  margin-left: 5px;
  color: crimson;
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 450;
}
.user-component__time {
  display: block;
  margin-bottom: 10px;
}
.aa {
  margin-left: 17px;
}
